body {
  padding-top: 160px;
  background: #ffffff;
}

#header {
  height: 90px;
  width: 100%;
  position: absolute;
  top: 0;
  z-index: 3000;
}
#logo {
  background: url("r2d3-logo.png") no-repeat top left;
  background-size: cover;
  margin: 15px 0;
  width: 60px;
  height: 60px;
  display: block;
}

#footer {
  background: #323137;
  padding-top: 70px;
  padding-bottom: 160px;
  color: #d1d2d8;
}

#footer p {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
  color: #d1d2d8;
  margin: 0 0 10px;
  line-height: 1.4285;
}

#footer a {
  color: #fff;
  text-decoration: underline;
}
.team-bio h3 {
  margin-top: 0;
  font-weight: normal;
  font-size: 1.3em;
  color: #fff;
}
#footer-logo {
  width: 100%;
  background: url("r2d3-large-white.png") no-repeat top left;
  background-size: contain;
  display: block;
  height: 120px;
}
.footer-portrait {
  width: 100%;
  border: 8px solid #fff;
}
#about-r2d3 {
  margin-bottom: 60px;
}
.team-bio {
  margin-bottom: 30px;
}

.mailing-list {
  margin: 10px 0;
  padding: 10px 20px 10px;
  background-color: #fff;
  border: 1px solid #e1e8ed;
  border-radius: 3px;
}

/* Utilities */
.hide-text {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}